.results {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 40%;
  margin-bottom: 1rem;
}

h3 {
  color: rgb(36, 36, 113);
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

@media screen and (max-width: 450px) {
  .results {
    width: 100%;
  }
}
