.container {
  text-align: center;
  width: 60%;
}

.double_playlist_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  gap: 1rem;
}

.playlist_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.select {
  width: 50%;
  text-align: center;
  background-color: transparent;
  border: 1px solid rgb(36, 36, 113);
  border-radius: 5px;
  color: rgb(36, 36, 113);
  font-size: 1.2rem;
}

.editSettings {
  text-align: center;
  margin-bottom: 1rem;
}

.tracksToAdd {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  gap: 1rem;
}
