.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid #cfb9f0;
}

.container:hover {
  color: gold;
}

.container:last-of-type {
  border-bottom: none;
}

.trackName {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.detailsContainer {
  display: flex;
  width: 90%;
  justify-content: space-between;
  color: white;
  min-width: fit-content;
}

.trackDetails {
  font-weight: light;
  padding: 1%;
  margin: 0;
}

.trackDetails__span {
  font-weight: bold;
  color: #4a139bd6;
}

.addButton {
  align-self: center;
  color: white;
  min-width: 1rem;
}

.addButton:hover {
  color: rgb(13, 203, 13);
}

.removeButton {
  align-self: center;
  color: white;
  min-width: 1rem;
}

.removeButton:hover {
  color: rgba(250, 52, 52, 0.771);
}

@media screen and (max-width: 450px) {
  .detailsContainer {
    flex-direction: column;
    align-items: center;
  }

  .trackDetails {
    padding: 0;
  }

  .trackName {
    font-size: 1.2rem;
  }

  .addButton {
    margin-bottom: 2%;
    align-self: flex-end;
    padding-right: 5%;
  }

  .removeButton {
    margin-bottom: 2%;
    align-self: flex-end;
    padding-right: 5%;
  }
}
