.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid #cfb9f0;
}

.container:hover {
  color: gold;
}

.container:last-of-type {
  border-bottom: none;
}

.trackName {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.detailsContainer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding-left: 2%;
  color: white;
}

.trackDetails {
  font-weight: lighter;
  padding: 1%;
  margin: 0;
}

.addButton {
  align-self: center;
  color: white;
}

.addButton:hover {
  color: rgb(13, 203, 13);
}

.removeButton {
  align-self: center;
  color: white;
}

.removeButton:hover {
  color: rgba(250, 52, 52, 0.771); 
}