.playlist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  width: 40%;
  height: auto;
}

.input {
  margin-bottom: 1%;
  width: 98%;
  align-self: center;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #3c8ce779;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  outline: none;
  color: #fff;
  font-size: 1.25rem;
  height: 2rem;
  text-align: center;
}

.input::placeholder {
  color: #fff;
}

.input:focus {
  background-color: #3c8ce7;
}

@media screen and (max-width: 450px) {
  .playlist {
    width: 100%;
  }
}
