.playlist { 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  width: 40%;
  height: auto;
}

.input {
  width: 100%;
  align-self: center;
  border: none;
  background-color: transparent;
  font-size: 1.25rem;
  height: 1.5rem;
  text-align: center;
}