.div {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

button:first-of-type {
  margin-right: 1rem;
}

.h1 {
  font-size: 3rem;
  color: #077493;
}

.p {
  font-size: 1.5rem;
}

@media screen and (max-width: 450px) {
  .h1 {
    font-size: 2rem;
  }

  .p {
    font-size: 1rem;
  }
}
