#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  align-items: flex-start;
  width: 80vw;
  height: auto;
  max-height: 100vh;
  padding: 1%;
}

.lightbox {
  background: linear-gradient(135deg, #ff70a6, #3c8ce7); /* Gradient colors */
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3); /* Box shadow for depth */
  padding: 20px;
  color: #fff; /* Text color on the lightbox */
  min-height: 100vh; /* Adjust as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 450px) {
  .main {
    flex-direction: column;
    align-items: center;
  }
}
